/* @import "tailwindcss"; */

/********** Template CSS **********/

/*** Navbar ***/
.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "FontAwesome";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}


.navbar-light .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #000;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: #000;
}

@media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar-light .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

.navbar-light .navbar-brand,
.navbar-light a.btn {
    height: 75px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
}

.navbar-light.sticky-top {
    top: -100px;
    transition: .5s;
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        margin-top: 0;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .dropdown-menu.fade-down {
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    } 
}


/* Hero Banner */
.hero-slide {
  height: 90vh;              /* VERY IMPORTANT */
  background-size: cover;
  background-position: center;
  display: flex !important;  /* important for slick */
  align-items: center;
  position: relative;
}

@media(max-width:600px){
    .hero-slide {
  height: 500px; 
}
}

.hero-overlay {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}



.display-custom{
    font-weight:800;
}

.slick-dots {
  bottom: 10px!important;
}

.slick-dots li button:before{
    font-size: 12px!important;
}
.slick-dots li{
    margin: 0px!important;
}



/* Team */

.team-item img {
    transition: .5s;
}

.team-item:hover img {
    transform: scale(1.1);
}

.bg-light {
    background-color: #F0FBFC !important;
}


/* category */
.category-card {
  transition: all 0.3s ease;
  border-radius: 12px;
  overflow: hidden;
}

.category-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 30px rgba(0,0,0,0.15);
}

.category-image-wrapper {
  height: 200px;
  overflow: hidden;
}

.category-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.category-card:hover .category-image {
  transform: scale(1.05);
}

.list-style-none{
    list-style: none;
}

.space-y-3{
    padding-left:16px;
}